<html>
  <head>
    <title>FriendlyPi</title>
    <style>
		body { background-color:#FFFFCC; }
	</style>
  </head>
  <body>
 		{% for plugin in plugins %}    
      		{{plugin["caption"]}}<br> 
      		Status: {{plugin["status"]}} <br>
      		{% for action in plugin["actions"] %}      		
	      		<span style="float:left;">
	    			<form action="/command/{{ plugin["name"] }}/{{ action["id"] }}">           
	        			<input type="submit" value="{{ action["label"] }}">  
	    			</form>   
				</span>
      		{% end %}
      		<br><br><hr>
      	{% end %}
  </body>
</html>
